body {
  background: #fff;
}

/* LOADING */
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #8b6f6f;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
.video-container {
  

}

.video-frame {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 800px;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .video-frame {
    width: 100%
  }

}